homeClient.xcodeproj/project.xcworkspace/xcuserdata/mfi.xcuserdatad/IDEFindNavigatorScopes.plist
homeClient.xcodeproj/xcshareddata/xcschemes/homeClient WatchKit App (Complication).xcscheme
homeClient.xcodeproj/xcshareddata/xcschemes/homeClient WatchKit App (Notification).xcscheme
homeClient.xcodeproj/xcshareddata/xcschemes/homeClient WatchKit App.xcscheme
homeClient.xcodeproj/xcshareddata/xcschemes/homeClient.xcscheme
homeClient.xcodeproj/xcuserdata/mfi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
